*~

/app/index.browser.*
/app/index.cli.*
/ZeppPlayer.exe

/_*
/projects/*
/win32_server/build
/win32_server/dist
/lib
/build
/dist
/venv

node_modules
__pycache__
.DS_Store
.~lock*

!/projects/demo
!.empty
