*~

/app/index.browser.js
/app/index.cli.js
/ZeppPlayer.exe

/_*
/projects/*
/win32_server/build
/win32_server/dist
/build
/dist
/venv

node_modules
__pycache__
.DS_Store
.~lock*

!/projects/demo
!.empty
