html {
    --background: #111;
    --foreground: #999;
    --panel: #333;
    --panel-text: #fff;
    --editor: #222;
    --editor-text: #fff;
    --input: #444;
    --input-text: #fff;
    --accent: #ff7043;
    --display-size: 52;
}

input[type=checkbox] {
    background: var(--foreground);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    height: 16px;
    width: 16px;
}

input[type=checkbox]:checked {
    background: var(--accent);
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='16px' viewBox='0 0 24 24' width='16px' fill='%23FFFFFF'%3E%3Cpath d='M0 0h24v24H0V0z' fill='none'/%3E%3Cpath d='M9 16.2L4.8 12l-1.4 1.4L9 19 21 7l-1.4-1.4L9 16.2z'/%3E%3C/svg%3E");
}

input[type=range] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    height: 16px;
    padding: 0;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none; 
    appearance: none;
    width: 16px; 
    height: 16px;
    border-radius: 8px;
    background: var(--accent);
    cursor: pointer;
}
  
input[type=range]::-moz-range-thumb {
    width: 16px;
    height: 16px;
    border-radius: 8px;
    background: var(--accent);
    cursor: pointer;
}

@font-face {
    font-family: 'Material Symbols Outlined';
    font-style: normal;
    src: url("/app/symbols.ttf") format('truetype');
}

.material-symbols-outlined {
    font-family: 'Material Symbols Outlined';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: var(--background);
    margin: 0;
}

aside.caption {
    display: block;
    margin: 8px;
    opacity: .5;
    font-size: .8em;
}

#loading {
    background-color: rgba(0, 0, 0, 0.8);
    cursor: wait;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9;
}

#display {
    height: calc(var(--display-size)*1vh);
}

.root {
    display: flex;
    flex-wrap: wrap;
    margin-top: 8px;
    margin-left: 8px;
    width: 100%;
    justify-content: center;
}

.root > div,
.root > canvas {
    margin-bottom: 8px;
    margin-right: 8px;
}

.root > div {
    min-width: 300px;
    flex: 1;
}

.player_root {
    display: flex;
    min-height: 400px;
    min-width: calc(var(--display-size)*1vh);
}

#toolbar_top, #toolbar_side {
    background-color: var(--panel);
    color: var(--panel-text);
    user-select: none;
}

.btn_wf, .btn_app {
    display: none;
}

#toolbar_side.watchface > .btn_wf,
#toolbar_side.app > .btn_app{
    display: block;
}

#toolbar_top {
    left: 0;
    bottom: 100%;
    display: flex;
    padding: 6px;
    overflow-x: auto;
}

hr {
    margin: 4px;
    border: none;
    border-bottom: thin rgba(255,255,255,.1) solid;
    border-left: thin rgba(255,255,255,.1) solid;
}

#toolbar_side {
    right: 100%;
    top: 0;
    display: flex;
    padding: 0 6px 6px 2px;
    flex-direction: column;
    margin-bottom: 8px;
    border-radius: 0 0 16px 0; 
    height: fit-content;
}

#toolbar_side > span,
#toolbar_top > .tools > span {
    max-width: 24px;
    min-width: 24px;
    max-height: 24px;
    padding: 6px;
    margin: 2px;
    cursor: pointer;
    overflow: hidden;
    transition: color .5s, background-color .5s;
    background-color: transparent;
    font-size: 24px;
    border-radius: 8px;
}

#toolbar_top > .tools > span:hover,
#toolbar_side > span:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

#toolbar_top > .tools > span.active,
#toolbar_side > span.active {
    color: var(--accent);
    background-color: rgba(0, 0, 0, 0.2);
}

.tools {
    display: flex;
}

select, input, .legacy-button {
    background-color: var(--input);
    border: none;
    color: var(--input-text);
    padding: 6px 12px;
    box-sizing: border-box;
    margin: 4px;
    border-radius: 8px;
}

select {
    height: 34px;
}

.base_panel {
    color: var(--editor-text);
    background-color: var(--editor);
    overflow: auto;
    max-height: 500px;
    min-height: 65px;
    min-width: 300px;
    margin-bottom: 8px;
    border-radius: 5px;
    box-shadow: 0px 8px 8px 0px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
}

#view_console {
    font-family: monospace;
    height: 200px;
    padding: 5px 10px;
    white-space: nowrap;
    resize: vertical;
}

#view_console > div > span {
    margin-right: 1em;
    white-space: break-spaces;
}

#view_edit {
    height: 450px;
    resize: vertical;
}

#view_settings {
    height: 200px;
}

/* Version info box */

#version_box {
    position: fixed;
    bottom: 8px;
    right: 8px;
    font-size: .8em;
    color: var(--foreground);
    text-align: right;
}

#version_box > div {
    margin: 4px 0;
}

#version_box span {
    color: var(--foreground);
}

a:link, a:visited {
    color: var(--foreground);
    text-decoration: none;
    border-bottom: thin var(--foreground) dotted;
}

#version_box .update:link, .update:visited {
    color: #f90;
    border-bottom: thin #f90 dotted;
}

/* Explorer */

#view_explorer details {
    margin-left: 8px;
}

#view_explorer br {
    height: 0.25em;
}

#view_explorer summary {
    padding: 4px 8px;
    border-bottom: thin var(--input) solid;
    font-size: 0.9rem;
    cursor: pointer;
}

#view_explorer summary aside {
    opacity: .5;
    display: inline;
}

#view_explorer summary aside.userDefined {
    color: var(--accent);
}

#view_explorer .prop_row {
    display: flex;
    font-size: .8em;
}

#view_explorer .prop_row strong {
    min-width: 150px;
}

#view_explorer .prop_row span {
    color: var(--accent);
}

#view_explorer .prop_row > * {
    padding: 2px 4px;
    font-size: .95em;
}

/* Mobile */

@media all and (max-width: 360px) {
    .bigscreen {
        display: none;
    }
}

@media all and (max-width: 550px) {

    #player_profile_select {
        flex: 1;
    }

    #toolbar_top {
        flex-wrap: wrap;
        justify-content: flex-end;
    }
}

/* Trash */

::-webkit-scrollbar {
    width: 4px;
    height: 4px;
}

::-webkit-scrollbar-track,
::-webkit-scrollbar-corner {
    background: var(--editor);
    /* border-radius: 0 5px 5px 0; */
}

::-webkit-scrollbar-thumb {
    background-color: var(--input);
    border-radius: 5px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}
