.ui-settings-item {
    display: flex;
    align-items: center;
    gap: 12px;
    position: relative;
    padding: 16px;
}

.ui-settings-item__click-handler {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    transition: background-color .25s;
}

.ui-settings-item__click-handler:hover {
    background-color: rgba(255,255,255,0.05);
}

.ui-settings-item__click-handler:active {
    background-color: rgba(255,255,255,0.01);
}

.ui-settings-item__info {
    flex: 1;
    margin-bottom: -0.3rem;
}

.ui-settings-item__title {
    margin-bottom: .3rem;
    font-size: 1.1em;
}

.ui-settings-item__description {
    margin-bottom: .3rem;
    font-size: .9em;
    opacity: .6;
}